BaseLib/Debug
CoreLib/Debug
CppParserLib/Debug
DirectXLib/Debug
GameLib/Debug
InputLib/Debug
StandardLib/Debug
SupportLib/Debug
TestLib/Debug
WindowLib/Debug
WorldLib/Debug
BaseLib/Release
CoreLib/Release
CppParserLib/Release
DirectXLib/Release
GameLib/Release
InputLib/Release
StandardLib/Release
SupportLib/Release
TestLib/Release
WindowLib/Release
WorldLib/Release
DirectXLib/Debug
ImageLib/Debug
ImageLib/Release
ThreadLib/Debug
ThreadLib/Release
LanguageLib/Debug
LanguageLib/Release
BerkeleyLib/Debug
us.stackdump
*.suo
*.sdf
*/.vs

/BaseLib/x64/Debug/*
/TestLib/x64/Debug/*
/BaseLib/x64/Release/*
/TestLib/x64/Release/*
/CoreLib/x64/Debug/*
/CoreLib/x64/Release/*
/StandardLib/x64/Release/*
/InputLib/x64/Release/*
/JavaParserLib/Debug/*
