BaseLib/Debug/*
CoreLib/Debug/*
CppParserLib/DEBUG/*
DirectXLib/DebugGame/*
GameLib/Debug/*
InputLib/Debug/*
StandardLib/Debug/*
SupportLib/Debug/*
TestLib/Debug/*
WindowLib/Debug/*
WorldLib/Debug/*
BaseLib/Release/*
CoreLib/Release/*
CppParserLib/Release/*
DirectXLib/ReleaseGame/*
GameLib/Release/*
InputLib/Release/*
StandardLib/Release/*
SupportLib/Release/*
TestLib/Release/*
WindowLib/Release/*
WorldLib/Release/*
DirectXLib/Debug
DirectXLib/Game_Release
ImageLib/Debug
ImageLib/Release
LanguageLib/Debug
LanguageLib/Release
StandardLib/StandardLib.sdf
BerkeleyLib/BerkeleyLib.sdf
BerkeleyLib/BerkeleyLib.suo
BerkeleyLib/Debug
BerkeleyLib/ipch