<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CommonLibrary Rules" Description="Code analysis rules for CommonLibraries." ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26440" Action="None" />
  </Rules>
</RuleSet>